/vendor
/node_modules
.git
.github
.gitignore
.env
*.sqlite
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
tests
Dockerfile
docker-compose.yml