.hero-top-info {
	background-color: var(--color-warning);
	color: var(--color-text);
	width: 100%;
	padding: 8px 32px;
	font-size: 13px;
	display: flex;
	align-items: center;
	gap: 20px;
	box-sizing: border-box;
}

.hero-top-info span {
	color: rgba(255, 255, 255, 0.7);
}