.dashboard-page {
	display: flex;
}
.sidebar {
	height: 100vh;
	background-color: black;
	color: white;
	flex: 1;
	padding: 16px 0;
	padding-bottom: 32px;
	display: flex;
	flex-direction: column;
}

.sidebar > .logo {
	display: flex;
	gap: 16px;
	align-items: center;
	justify-content: center;
}

.sidebar > .logo > .logo-img {
	width: 64px;
	height: 64px;
	background-color: black;
}

.sidebar > .logo > p {
	background-color: black;
	font-weight: 700;
	font-size: large;
}

.sidebar > .sidenav {
	
}
.sidebar > .sidenav > div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px;
	gap: 16px;
}
.sidebar > .sidenav > div > p {
	flex: 1;
}
.sidebar > .sidenav > div > svg {
	width: 32px;
	height: 32px;
}

.vertical-divider {
	flex: 1;
}

.settings {
	display: flex;
	justify-content: center;
	padding: 0 16px;
	gap: 8px;
}

.settings > div {
	display: flex;
	justify-content: center;
	padding: 8px;
	flex: 1;
	gap: 8px;
}

.settings > .account {
	background-color: white;
	color: black;
	flex: 2;
}
.settings > .theme {
	border: 2px solid white;
	flex: 1;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.dashboard-container {
	display: flex;
	flex-direction: column;
	flex: 5;
	padding: 32px 64px;
}

nav {
	display: flex;
	width: 100%;
	gap: 32px;
}

nav > button, .searchbar {
	background-color: black;
	color: white;
	width: 100px;
	padding: 8px;
}

.searchbar {
	width: 200px;
}

.horizontal-divider {
	flex: 1;
}

.hero-cards {
	display: flex;
	gap: 32px;
	margin: 128px 0;
}

.hero-card {
	flex: 1;
	background-color: white;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.hero-card > h1 {
	font-size: xx-large;
	font-weight: 700;
}

.hero-card1 > h1 {
}
.hero-card1 > p {
}
.hero-card1 > div {
	display: flex;
	gap: 16px;
}
.hero-card1 > div > button:nth-child(1) {
	flex: 2;
	background-color: black;
	color: white;
	padding: 8px;
}

.hero-card1 > div > button:nth-child(2) {
	flex: 1;
	padding: 8px;
	border-radius: 8px;
  border: 2px solid black;
}

.hero-card2 {
	text-align: center;
	padding: 32px;
	background-color: black;
	color: white;
}
.hero-card2 > h3 {
	font-weight: 700;
}

.hero-card2 > .pfps {
	display: flex;
	justify-content: center;
	gap: 16px;

}
.hero-card2 > .pfps > .pfp {
	width: 32px;
	height: 32px;
	background-color: black;
}

.tabs {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.tab {
	flex: 1;
	background-color: black;
	padding: 16px;
	justify-content: center;
	justify-items: center;
	color: white;
}