.dashboard-page {
	display: flex;
}

.dashboard-container {
	display: flex;
	flex-direction: column;
	flex: 5;
	padding: 32px 64px;
}

nav {
	display: flex;
	width: 100%;
	gap: 32px;
}

nav > button, .searchbar {
	background-color: black;
	color: white;
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav > button {
	width: 100px;
}

nav > .searchbar {
	/* width: 200px; */
	padding: 8px;
}

nav > .searchbar > svg {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}

nav > .searchbar > input {
	flex: 1;
	width: 200px;
	outline: none;
}


.horizontal-divider {
	flex: 1;
}

.hero-cards {
	display: flex;
	gap: 32px;
	margin: 128px 0;
}

.hero-card {
	flex: 1;
	background-color: white;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.hero-card > h1 {
	font-size: 48px;
	font-weight: 700;
}

.hero-card1 > h1 {
}
.hero-card1 > p {
}
.hero-card1 > div {
	display: flex;
	gap: 16px;
}
.hero-card1 > div > button:nth-child(1) {
	flex: 2;
	background-color: black;
	color: white;
	padding: 8px;
}

.hero-card1 > div > button:nth-child(2) {
	flex: 1;
	padding: 8px;
	border-radius: 8px;
  border: 2px solid black;
}

.hero-card2 {
	text-align: center;
	padding: 32px;
	background-color: black;
	color: white;
}
.hero-card2 > h3 {
	font-weight: 700;
}

.hero-card2 > p {
	padding: 0 40px;
}

.hero-card2 > .pfps {
	display: flex;
	justify-content: center;
	gap: 16px;

}
.hero-card2 > .pfps > .pfp {
	width: 32px;
	height: 32px;
	background-color: black;
}

.tabs {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.tab {
	flex: 1;
	background-color: black;
	padding: 16px;
	justify-content: center;
	justify-items: center;
	color: white;
}